/*Подключение шрифтов*/

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие правила*/

:root {
  --is-favorite: #7db54f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  height: 100%;
  margin:0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled, .button-disabled {
  background-color: #e5e5e5;
}

/*Главный контейнер*/

.main-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  text-align: center;
}

.main-content {
  flex-grow: 1;
}

/*Навигация по сайту*/

.page-header {
  display: flex;
  padding: 0 70px;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  display: block;
  margin-right: 28px;
  position: relative;
  margin-top: -6px;
  bottom: -6px;
}

.page-logo-link:hover {
  opacity: 0.7;
}

.page-logo-link:active {
  opacity: 0.5;
}

.current-page-logo:focus {
  outline: 0;
  opacity: 1;
}

.current-page-logo:hover {
  cursor: default;
  opacity: 1;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  width: 432px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navbar-link:hover {
  opacity: 0.7;
}

.navbar-link:active {
  opacity: 0.5;
}


.navbar-link-current {
  position: relative;
}

.navbar-link-current::before {
  right: 16px;
  left: 16px;
  position: absolute;
  bottom: -1px;
  content: "";
  border-bottom: 2px solid #756257;
}

.navbar-link-current:hover {
  opacity: 1;
  cursor: default;
}

.navbar-link-current:focus {
  outline: 0;
}

/*Пользовательская навигация*/

.usernav {
  margin-left: auto;
}

.usernav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.usernav-item {
  display: flex;
  align-items: center;
}

.search, .favorite {
  width: 44px;
  height: 64px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: url("../images/search-icon.svg") no-repeat center;
}

.favorite {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  background: url("../images/heart-icon.svg") no-repeat center;
}

.favorite-value {
  position: absolute;
  display: flex;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: var(--is-favorite);
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: center;
  align-items: center;
}

.search:hover, .favorite:hover {
  opacity: 0.7;
}

.search:active, .favorite:active {
  opacity: 0.5;
}

.usernav-link-disabled {
  opacity: 0.3;
}

/*Баннер на главной*/

.welcome-banner {
  padding: 51px 371px 82px 371px;
  background: url("../images/banner-divider.svg") no-repeat bottom, url("../images/banner-background.jpg") no-repeat #6f8da1;
  background-size: 100% auto, cover;
}

.welocme-banner-img {
  display: block;
  width: 458px;
  height: auto;
}

/*Секция: преимущества*/

.slogan {
  margin-bottom: 21px;
  padding: 69px 274px;
}

.slogan-title {
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
}

.advantages-item:not(.advantages-item-accent){
  width: 400px;
  padding: 113px 85px;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-wrapper {
  width: 400px;
  padding: 101px 85px;
  position: relative;
}

.advantages-wrapper::before {
  position: absolute;
  width: 60px;
  height: 2px;
  top: 188px;
  left: 170px;
  background-color: #ffffff;
  opacity: 0.3;
  content: "";
}

.advantages-img {
  width: 800px;
}

.advantages-item:nth-child(even):not(.advantages-item-accent){
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-accent {
  display: flex;
  flex-wrap: wrap;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-accent:last-child .advantages-img{
  order:-1;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  padding: 0 29px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:not(.advantages-item-accent) .advantages-title::before{
  position: absolute;
  width: 60px;
  height: 2px;
  top: 199px;
  right: 170px;
  background-color: #000000;
  opacity: 0.3;
  content: "";
}

.advantages-description {
  margin: 0;
}

.advantages-item-accent .advantages-title {
  color: #ffffff;
}

/*Секция: предоставляемые услуги*/

.services-slogan {
  padding: 64px 346px;
}
.services-slogan-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-slogan-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  padding-top: 183px;
  padding-right: 85px;
  padding-bottom: 80px;
  padding-left: 85px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even){
  background-color: #ffffff;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-hotel {
  background-image: url("../images/hotel-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.food-hotel {
  background-image: url("../images/food-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 232px right 162px;
}

.souvenirs-hotel {
  background-image: url("../images/souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 232px right 166px;
}

.services-description {
  margin: 0;
}

/*Секция: бронирование*/

.booking {
  padding: 96px 304px;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.booking-button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
}

/*Секция: подписка*/
.subscribe {
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 104px;
  padding-left: 258px;
  background-color: #6f8da1;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0 104px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input-field {
  width: 452px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-input-field:hover {
  background-color: #e6e6e6;
}

.subscribe-input-field:focus {
  color: #000000;
  outline: 2px solid #000000;
}

.subscribe-input-field:disabled {
  opacity: 0.3;
}

.subscribe-button{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.subscribe-button:hover, .apply-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:active, .apply-button:active {
  color: rgba(255, 255, 255, 0.3);
}


/*Каталог: обертка для фона*/

.filter-wrapper {
  margin-bottom: 50px;
  padding: 35px 70px 68px 70px;
  background-color: #6f8da1;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

/*Каталог: Заголовок */

.heading{
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/*Каталог: хлебные крошки */

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url("../images/breadcrumbs-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  content: "";
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-icon svg {
  vertical-align: middle;
}

.breadcrumbs-icon:hover {
  opacity: 0.7;
}

.breadcrumbs-icon:active {
  opacity: 0.5;
}

.breadcrumbs-link {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  background-color: transparent;
  opacity: 0.7;
}

.breadcrumbs-link:active {
  opacity: 0.5;
}

.breadcrumbs-link-current:hover,
.breadcrumbs-link-current:focus,
.breadcrumbs-link-current:active
{
  opacity: 1;
  cursor: default;
  outline: 0;
}

/*Каталог: фильтр*/

.hotel-filter-form {
  display: flex;
  flex-wrap: wrap;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border:0;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.hotel-filter-label {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.hotel-filter-label:hover{
  opacity: 0.6;
}

.hotel-filter-label:active {
  opacity: 0.3;
}

.infrastructure-input[type="checkbox"]:focus + .control-mark, .building-type-input[type="radio"]:focus + .control-mark {
 outline: 3px solid #83b3d3;
}

.infrastructure-input:disabled + .control-mark, .building-type-input:disabled + .control-mark {
  color: #000000;
  opacity: 0.3;

}

.hotel-filter-label:last-child {
  margin-bottom: 0;
}

.hotel-filter-group-infrastructure {
  width: 200px;
  margin-right: 20px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}


.infrastructure-input, .building-type-input {
  display:block;
}

.infrastructure-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.hotel-filter-building-type {
  width: 250px;
  margin-right: 40px;
}

.hotel-filter-building-type-label .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.building-type-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  top: -8px;
}

.toggle-max {
  right: 0;
}

.range-toggle:hover {
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 1px solid #83b3d3;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:disabled {
  background-color: #a39898;
}

.price-filter-wrapper {
  margin-bottom: 43px;
  display: flex;
  flex-wrap: wrap;
  gap:2px;
}

.price-filter-label {
  position: relative;
}

.price-value {
  appearance: textfield;
  width: 143px;
  padding: 12px 45px 12px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  border: 0;
  background-color: #f2f2f2;
}

.text-meaning {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-value::-webkit-outer-spin-button, .price-value::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-value:hover, .price-value:focus {
  background-color: #e6e6e6;
}

.price-value:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.apply-button {
  display: block;
  min-width: 191px;
  margin-bottom: 32px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #82b3d3;
}

.reset-button {
  min-width: 191px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
}

.reset-button:hover {
  background-color: transparent;
  opacity: 0.6;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.apply-button:focus, .reset-button:focus {
  outline: 3px solid #83b3d3;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 58px;
  width: 250px;
}

/*Каталог: заголовок и селект*/

.catalog {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 60px;
}

.select-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-heading {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.properties-sort {
  width: 292px;
  padding: 12px 20px;
  padding-right: 40px;
  margin-right: 70px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  color:inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-color: #ffffff;
  background-image: url("../images/select-icon.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.properties-sort:hover {
  border-color: #68a2ca;
}

.properties-sort:focus {
  border-color: #3f5e72;
  outline: none;
}

.properties-sort:disabled {
  color:#000000;
  border: 2px solid #000000;
  opacity: 0.3;
}

.view-sort {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-sort-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-sort-item:last-child button {
  margin-right: 0;
}

.view-sort-tile {
  background-image: url("../images/tile-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-single {
  background-image: url("../images/single-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-list {
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-active-button {
  border: 2px solid #000000;
}

.view-sort-button:hover {
  border: 2px solid #000000;
}

.view-sort-button:active {
  border: 2px solid #000000;
}

.view-sort-button:disabled {
  color:#000000;
  border: 2px solid #000000;
  opacity: 0.3;
}


/*Каталог: карточки гостиниц*/

.hotel-list {
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: start;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-card-img {
  width: 300px;
  object-fit: contain;
  margin-bottom: 16px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-link:hover {
  opacity: 0.7;
}

.hotel-card-link:active {
  opacity: 0.5;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-price {
  justify-self: end;
}

.rating-value {
  padding: 8px 7px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-stars {
  width: 140px;
  align-self:stretch;
}

.one-stars {
  background: url(../images/one-stars.svg) no-repeat;
}

.two-stars {
  background: url(../images/two-stars.svg) no-repeat;
}

.three-stars {
  background: url(../images/three-stars.svg) no-repeat;
}

.four-stars {
  background: url(../images/four-stars.svg) no-repeat;
}

.five-stars {
  background: url(../images/five-stars.svg) no-repeat;
}

.more-button {
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  text-align: center;
}

.favorite-button {
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  background-color: #82b3d3;
}

.favorite-button:hover {
  background-color: #68a2cA;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button-active {
  background-color: var(--is-favorite);
  padding-left: 7px;
  padding-right: 7px;
}

.favorite-button-active:hover {
  background-color: #6c9e42;
}

/*Каталог: Пагинация*/

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  position: relative;
}

.pagination::before {
  position: absolute;
  content: "";
  background-color: #e6e6e6;
  height: 1px;
  left: 0;
  right: 0;
  top: -40px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-current:hover, .pagination-link-current:focus {
  color: #000000;
  background-color: #f2f2f2;
  outline: 0;
  opacity: 1;
  cursor: default;
}

.ellipsis {
  display: block;
  width: 60px;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}

/*Каталог: Подписаться*/

.catalog-subscribe {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.catalog-subscribe .subscribe-description {
  color: #333333;
}

/*Футер*/

.page-footer {
  padding: 48px 70px 30px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socials {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.socials-link::after {
  content: "";
  display: block;
  width: 47px;
  height: 40px;
  background-color: #83b3d3;
}

.vkontakte::after {
  mask: url("../images/vk-icon.svg") no-repeat center;
}

.telegramm::after {
  mask: url("../images/tg-icon.svg") no-repeat center;
}

.youtube::after {
  mask: url("../images/youtube-icon.svg") no-repeat center;
}

.socials-link:hover::after, .socials-link:focus::after {
  background-color: #68a2ca;
}

.socials-link:active::after {
  opacity: 0.3;
}

.page-footer-tel {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.page-footer-copyright::after {
  content: "";
  display: block;
  width: 115px;
  height: 34px;
  background-color: #000000;
  mask: url("../images/htmlacademy-logo.svg") no-repeat center;
}

.page-footer-copyright:hover::after, .page-footer-copyright:focus::after {
  background-color: #756157;
}

.page-footer-tel:hover, .page-footer-tel:focus {
  color: #756157;
}

.page-footer-tel:active, .page-footer-copyright:active::after {
  opacity: 0.3;
}

/* Модальное окно*/
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-section {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

.modal-disabled {
  display: none;
}

.modal-close {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 64px;
  right: 52px;
  border: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
}

.modal-close:active {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-header {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 45px;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-fieldgroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-fieldgroup-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 43px;
}

.modal-label {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal-label-check-in, .modal-label-check-out {
  margin-right: 24px;
}

.modal-label-adult{
  width: 127px;
  margin-right: 10px;
}

.modal-label-children  {
  margin-right: 10px;
}

.modal-input {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  appearance: textfield;
}

.modal-input-check-in, .modal-input-check-out {
  flex-grow: 1;
  padding: 12px 44px 12px 15px;
  margin-bottom: 4px;
  background-image: url("../images/input-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.modal-input-adult, .modal-input-children {
  width: 110px;
  padding: 14px 40px;
  text-align: center;
}

.quantity-button {
  position:absolute;
  margin: 0;
  padding:0;
  border: 0;
  background-color: inherit;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
}

.quantity-button:hover {
  color: #000000;
}

.quantity-button:active {
  opacity: 0.2;
}

.quantity-button-less {
  right: 10px;
}

.quantity-button-more {
  right: 78px;
}

.modal-input::-webkit-outer-spin-button, .modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-input::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.6;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus {
  background-color: #e6e6e6;
}

.modal-input:active {
  background-color: #f2f2f2;
}

.check-in-description {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
  color: #ff5757;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.check-out-description {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.tooltip {
  margin-right: 46px;
}

.tooltip-toggle {
  display: block;
  border: 0;
  width: 26px;
  height: 26px;
  background: #83b3d3 url("../images/info-icon.svg") no-repeat center;
  border-radius: 50%;
}

.tooltip-toggle:hover + .tooltip-text, .tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 53px;
  left: -48px;
  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;
  background: #333333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -9px;
  right: 50%;
  width: 19px;
  height: 9px;
  background: url("../images/triangle.svg") no-repeat center;
}

.submit-button {
  padding: 18px 5px;
  background-color: #83b3d3;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.submit-button:hover {
  background: #68a2ca;
}

.submit-button:focus {
  background: #68a2ca;
}

.submit-button:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
