/*Подключение шрифтов*/

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие правила*/

:root {
  --is-favorite: #7db54f;
}

html {
  height: 100%;
}

body{
  height: 100%;
  margin:0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
}

/*Главный контейнер*/
.main-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  text-align: center;
}

.main-content {
  flex-grow: 1;
}

/*Навигация по сайту*/

.navbar-item {
  list-style: none;
}

.navbar-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/*Пользовательская навигация*/

.usernav-item {
  list-style: none;
}

.favorite {
  text-decoration: none;
}

.favorite-value {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: var(--is-favorite);
  border-radius: 50%;
}

/*Баннер на главной*/

.welcome-banner {
  background: url("../images/banner-divider.svg") no-repeat bottom,
  url("../images/banner-background.jpg") no-repeat #6f8da1;
  background-size: 100% auto cover;
}

/*Секция: преимущества*/

.slogan-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item {
  list-style: none;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-item:nth-child(even):not(.advantages-item-accent){
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-accent {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-accent .advantages-title {
  color: #ffffff;
}


/*Секция: предоставляемые услуги*/

.servises-item {
  list-style: none;
  background-color: rgba(131, 179, 211, 0.12);
}

.servises-item:nth-child(even){
  background-color: #ffffff;
}

.servises-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}


/*Секция: бронирование*/

.booking-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
}


/*Секция: подписка*/
.subscribe {
  background-color: #6f8da1;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-input-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-button{
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

/*Каталог: обертка для фона*/

.filter-wrapper {
  background-color: #6f8da1;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

/*Каталог: Заголовок */
.heading{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/*Каталог: хлебные крошки */
.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

/*Каталог: фильтр*/
.hotel-filter-group {
  border:0;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.hotel-filter-label {
  font-size: 18px;
  line-height: 23px;
}

.price-filter-label {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-value {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
}

.apply-button {
  background-color: #82b3d3;
}

.reset-button {
  background-color: transparent;
}

/*Каталог: заголовок и селект*/

.catalog-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.properties-sort {
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  color:inherit;
}

/*Каталог: карточки гостиниц*/

.hotel-card {
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.rating-value {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.favorite-button {
  background-color: #82b3d3;
}

.favorite-button-active {
  background-color: var(--is-favorite);
}


/*Каталог: Пагинация*/
.pagination-item {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.ellipsis {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

/*Каталог: Подписаться*/
.catalog-subscribe {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.catalog-subscribe .subscribe-description {
  color: #333333;
}

/*Футер*/

.page-footer-tel {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
