/* Подключение шрифтов */

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие правила */

:root {
  --is-favorite: #7db54f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.button:hover:not(:disabled),
a.button:hover:not(.button-disabled) {
  background-color: #615048;
}

button.button:active:not(:disabled),
a.button:active:not(.button-disabled) {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-disabled {
  background-color: #e5e5e5;
}

/* Главный контейнер */

.main-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-index {
  text-align: center;
}

.main-content {
  flex-grow: 1;
}

/* Навигация по сайту */

.page-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  display: block;
  margin-right: 29px;
  position: relative;
  margin-top: -6px;
  bottom: -6px;
}

.page-logo-link[href]:hover {
  opacity: 0.7;
}

.page-logo-link[href]:active {
  opacity: 0.5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  width: 432px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navbar-link[href]:hover {
  opacity: 0.7;
}

.navbar-link[href]:active {
  opacity: 0.5;
}

.navbar-link-current {
  position: relative;
}

.navbar-link-current::before {
  right: 16px;
  left: 16px;
  position: absolute;
  bottom: -1px;
  content: "";
  border-bottom: 2px solid #756257;
}

/* Пользовательская навигация */

.usernav {
  margin-left: auto;
}

.usernav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.usernav-item {
  display: flex;
  align-items: center;
}

.search, .favorite {
  width: 44px;
  height: 64px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: url("../images/search-icon.svg") no-repeat center;
}

.favorite {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #000000;
  background: url("../images/heart-icon.svg") no-repeat center;
}

.favorite-value {
  position: absolute;
  display: flex;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: var(--is-favorite);
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  padding-left: 4px;
  padding-right: 4px;
  justify-content: center;
  align-items: center;
}

.search-disabled {
  opacity: 0.3;
}

.search:hover:not(.search-disabled),
.favorite:hover:not(.search-disabled) {
  opacity: 0.7;
}

.search:active:not(.search-disabled),
.favorite:active:not(.search-disabled) {
  opacity: 0.5;
}

/* Баннер на главной */

.welcome-banner {
  padding: 51px 371px 82px;
  background: url("../images/banner-divider.svg") no-repeat bottom, url("../images/banner-background.jpg") no-repeat #6f8da1;
  background-size: 100% auto, cover;
}

.welocme-banner-img {
  display: block;
  width: 458px;
  height: 352px;
}

/* Секция: преимущества */

.slogan {
  margin-bottom: 21px;
  padding: 69px 272px;
}

.slogan-title {
  margin: 0;
  margin-bottom: 25px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item:not(.advantages-item-accent){
  width: 400px;
  padding: 113px 84px;
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-wrapper {
  width: 400px;
  padding: 101px 85px;
}

.advantages-wrapper .advantages-title::after {
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: #ffffff;
  opacity: 0.3;
  content: "";
}

.advantages-img {
  width: 800px;
  height: 385px;
}

.advantages-item:nth-child(even):not(.advantages-item-accent){
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-accent {
  display: flex;
  flex-wrap: wrap;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-accent:last-child .advantages-img{
  order: -1;
}

.advantages-title {
  margin: 0;
  padding: 0 29px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:not(.advantages-item-accent) .advantages-title::after{
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: #000000;
  opacity: 0.3;
  content: "";
}

.advantages-description {
  margin: 0;
}

.advantages-item-accent .advantages-title {
  color: #ffffff;
}

/* Секция: предоставляемые услуги */

.services-slogan {
  padding: 64px 346px;
}

.services-slogan-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-slogan-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  padding: 183px 85px 80px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

.services-title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-hotel::before {
  position: absolute;
  top: -103px;
  left: 78px;
  content: "";
  display: block;
  width: 76px;
  height: 72px;
  background-image: url("../images/hotel-icon.svg");
}

.food-hotel::before {
  position: absolute;
  top: -102px;
  left: 77px;
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background-image: url("../images/food-icon.svg");
}

.souvenirs-hotel::before {
  position: absolute;
  top: -102px;
  left: 83px;
  content: "";
  display: block;
  width: 65px;
  height: 76px;
  background-image: url("../images/souvenirs-icon.svg");
}

.services-description {
  margin: 0;
}

/* Секция: бронирование */

.booking {
  padding: 96px 304px;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.booking-button {
  display: block;
  margin: 0 auto;
  width: 376px;
  padding: 8px 10px;
  font-size: 20px;
  line-height: 36px;
}

/* Секция: подписка */

.subscribe {
  padding: 96px 258px 104px;
  background-color: #6f8da1;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  padding: 0 104px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input-field {
  width: 452px;
  padding: 14px 20px;
  flex-shrink: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.subscribe-input-field:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.subscribe-input-field:focus {
  color: #000000;
  outline: 2px solid #000000;
}

.subscribe-input-field:disabled {
  opacity: 0.3;
}

.subscribe-button {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

button.subscribe-button:hover:not(:disabled),
button.apply-button:hover:not(:disabled) {
  background-color: #68a2ca;
}

/* Каталог: обертка для фона */

.filter-wrapper {
  margin-bottom: 50px;
  padding: 35px 70px 70px;
  background-color: #6f8da1;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

/* Каталог: Заголовок */

.heading {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Каталог: хлебные крошки */

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child)::after {
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url("../images/breadcrumbs-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-right: 10px;
  content: "";
}

.breadcrumbs-icon:hover {
  opacity: 0.7;
}

.breadcrumbs-icon:active {
  opacity: 0.5;
}

.breadcrumbs-link {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link-home {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../images/home-icon.svg") no-repeat center;
}

.breadcrumbs-link[href]:hover {
  background-color: transparent;
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

/* Каталог: фильтр */

.hotel-filter-form {
  display: flex;
  flex-wrap: wrap;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border:0;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.hotel-filter-label {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.hotel-filter-label:hover {
  opacity: 0.6;
}

.hotel-filter-label:active {
  opacity: 0.3;
}

.hotel-filter-label:has(input[disabled]) {
  opacity: 0.6;
}

.infrastructure-input[type="checkbox"]:focus + .control-mark,
.building-type-input[type="radio"]:focus + .control-mark {
 outline: 3px solid #83b3d3;
}

.infrastructure-input:disabled + .control-mark,
.building-type-input:disabled + .control-mark {
  color: #000000;
  opacity: 0.3;
}

.hotel-filter-label:last-child {
  margin-bottom: 0;
}

.hotel-filter-group-infrastructure {
  width: 200px;
  margin-right: 20px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.infrastructure-input, .building-type-input {
  display: block;
}

.infrastructure-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/tick-icon.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.hotel-filter-building-type {
  width: 250px;
  margin-right: 40px;
}

.hotel-filter-building-type-label .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.building-type-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  top: -8px;
}

.toggle-max {
  right: 0;
}

.range-toggle:hover:not(:disabled) {
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.range-toggle:active:not(:disabled) {
  outline: 1px solid #83b3d3;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:disabled {
  background-color: #c0b5b5;
}

.price-filter-wrapper {
  margin-bottom: 43px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.price-filter-label {
  position: relative;
}

.price-value {
  appearance: textfield;
  width: 143px;
  padding: 12px 45px 12px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  border: 0;
  background-color: #f2f2f2;
}

.text-meaning {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.price-value::-webkit-outer-spin-button,
.price-value::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-value:hover:not(:disabled),
.price-value:focus {
  background-color: #e6e6e6;
}

.price-value:focus {
  background-color: #f2f2f2;
}

.price-value:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
}

.hotel-filter-buttons {
  margin-right: 11px;
}

.apply-button {
  display: block;
  min-width: 191px;
  margin-bottom: 32px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #82b3d3;
}

.reset-button {
  min-width: 191px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent;
}

button.reset-button:hover:not(:disabled) {
  background-color: transparent;
  opacity: 0.6;
}

button.reset-button:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.apply-button:focus, .reset-button:focus {
  outline: 3px solid #83b3d3;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 55px;
  width: 250px;
}

/* Каталог: заголовок и селект */

.catalog {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 60px;
}

.select-wrapper {
  margin-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-heading {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.properties-sort {
  width: 292px;
  padding: 12px 20px;
  padding-right: 40px;
  margin-right: 70px;
  font-family: inherit;
  font-size: inherit;
  line-height: 21px;
  color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-color: #ffffff;
  background-image: url("../images/select-icon.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.properties-sort:hover {
  border-color: #68a2ca;
}

.properties-sort:focus {
  border-color: #3f5e72;
  outline: none;
}

.properties-sort:disabled {
  color: #000000;
  border: 2px solid #000000;
  opacity: 0.3;
}

.view-sort {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-sort-button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: inherit;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-sort-item:last-child button {
  margin-right: 0;
}

.view-sort-tile {
  background-image: url("../images/tile-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-single {
  background-image: url("../images/single-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-list {
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-sort-active-button {
  border: 2px solid #000000;
}

.view-sort-button:hover {
  border: 2px solid #000000;
}

.view-sort-button:active {
  opacity: 0.6;
}

.view-sort-button:disabled {
  color: #000000;
  border: 2px solid #000000;
  opacity: 0.3;
}

/* Каталог: карточки гостиниц */

.hotel-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: start;
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-card-img {
  width: 300px;
  height: 212px;
  object-fit: contain;
  margin-bottom: 12px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-link:hover {
  opacity: 0.7;
}

.hotel-card-link:active {
  opacity: 0.5;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-price {
  justify-self: end;
}

.rating-value {
  padding: 8px 7px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-stars {
  width: 140px;
  align-self: stretch;
}

.one-stars {
  background: url("../images/one-stars.svg") no-repeat;
}

.two-stars {
  background: url("../images/two-stars.svg") no-repeat;
}

.three-stars {
  background: url("../images/three-stars.svg") no-repeat;
}

.four-stars {
  background: url("../images/four-stars.svg") no-repeat;
}

.five-stars {
  background: url("../images/five-stars.svg") no-repeat;
}

.more-button {
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}

.favorite-button {
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  background-color: #82b3d3;
}

button.favorite-button:hover:not(:disabled) {
  background-color: #68a2cA;
}

.favorite-button-active {
  background-color: var(--is-favorite);
  padding-left: 7px;
  padding-right: 7px;
}

button.favorite-button-active:hover:not(:disabled) {
  background-color: #6c9e42;
}

/* Каталог: Пагинация */

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  position: relative;
}

.pagination::before {
  position: absolute;
  content: "";
  background-color: #e6e6e6;
  height: 1px;
  left: 0;
  right: 0;
  top: -40px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  padding: 12px 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.ellipsis {
  display: block;
  min-width: 60px;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}

/* Каталог: Подписаться */

.catalog-subscribe {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.catalog-subscribe .subscribe-description {
  color: #333333;
}

/* Футер */

.page-footer {
  padding: 48px 70px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socials {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.socials-link::after {
  content: "";
  display: block;
  width: 47px;
  height: 40px;
  background-color: #83b3d3;
}

.vkontakte::after {
  mask: url("../images/vk-icon.svg") no-repeat center;
}

.telegramm::after {
  mask: url("../images/tg-icon.svg") no-repeat center;
}

.youtube::after {
  mask: url("../images/youtube-icon.svg") no-repeat center;
}

.socials-link:hover::after, .socials-link:focus::after {
  background-color: #68a2ca;
}

.socials-link:active::after {
  opacity: 0.3;
}

.page-footer-tel {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.page-footer-copyright::after {
  content: "";
  display: block;
  width: 115px;
  height: 34px;
  background-color: #000000;
  mask: url("../images/htmlacademy-logo.svg") no-repeat center;
}

.page-footer-copyright:hover::after,
.page-footer-copyright:focus::after {
  background-color: #756157;
}

.page-footer-tel:hover,
.page-footer-tel:focus {
  color: #756157;
}

.page-footer-tel:active,
.page-footer-copyright:active::after {
  opacity: 0.3;
}

/* Модальное окно */

.modal-wrapper.modal-disabled {
  display: none;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-section {
  position: relative;
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 64px;
  right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.modal-close:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
}

.modal-close:active {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-header {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 45px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-fieldgroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.modal-fieldgroup-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 43px;
}

.modal-label {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal-label-check-out {
  margin-right: 19px;
}

.modal-label-check-in {
  margin-right: 24px;
}

.modal-label-adult {
  width: 127px;
  margin-right: 10px;
}

.modal-label-children  {
  margin-right: 10px;
  max-width: 100px;
}

.modal-input {
  font-family: inherit;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  border: 0;
  appearance: textfield;
}

.modal-input-check-in,
.modal-input-check-out {
  flex-grow: 1;
  padding: 12px 44px 12px 20px;
  margin-bottom: 4px;
  background-image: url("../images/input-icon.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.modal-input-adult,
.modal-input-children {
  width: 31px;
  padding: 14px 0;
  text-align: center;
}

.quantity-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
  padding: 0 10px;
}

.quantity-button:hover:not(:disabled) {
  color: #000000;
}

.quantity-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.quantity-button:disabled {
  opacity: 0.3;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-input::placeholder {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  opacity: 0.6;
}

.modal-input:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.modal-input:focus {
  background-color: #f2f2f2;
}

.modal-input:active {
  background-color: #f2f2f2;
}

.modal-input:disabled {
  opacity: 0.2;
}

.check-in-description {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
  color: #ff5757;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.check-out-description {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 156px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.input-container {
  display: flex;
}

.tooltip {
  position: relative;
  margin-right: 46px;
}

.tooltip-toggle {
  display: block;
  border: 0;
  width: 26px;
  height: 26px;
  background: #83b3d3 url("../images/info-icon.svg") no-repeat center;
  border-radius: 50%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 39px;
  left: 13px;
  display: none;
  width: 256px;
  padding: 20px 18px 22px 22px;
  transform: translateX(-50%);
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 10px;
  background: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -9px;
  right: calc(50% - 19px / 2);
  width: 19px;
  height: 9px;
  background: url("../images/triangle.svg") no-repeat center;
}

.submit-button {
  padding: 18px 5px;
  background-color: #83b3d3;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

button.submit-button:hover:not(:disabled) {
  background: #68a2ca;
}

.submit-button:focus {
  background: #68a2ca;
}

.submit-button:active:not(:disabled) {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}
